/* Global Styles */


/* Container Flexibility */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #4CAF50; /* Primary Color for Calls to Action */
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

/* Typography */
.main h1, .main h2, .main h3 {
  font-family: 'Roboto', sans-serif;
}

.main h1 {
  margin-bottom: 0.5rem; /* Ensure clear hierarchy */
}

.description,
.card p,
.logo {
  color: #666;
}

.button {
  background-color: rgba(100, 60, 60, 0.15); /* Soft Teal for Calls to Action */
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  min-width: 150px; /* Ensure usability on smaller devices */
}

/* Grid System */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin-top: 3rem;
}

.card {
  flex-basis: calc(45% - 30px);
  padding: 1.5rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.services li {
  margin-bottom: 1.5rem;
  list-style: none;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, auto);
  }

  .card {
    flex-basis: calc(100% - 30px);
  }
}

.hidden, .hidden * {
  color: #111;
  background-color: #111;
}