:root {
  --font-em: 'Ojuju', cursive;
  --font-heading: 'Ojuju', cursive;
  --font-strong: 'Bebas Neue', sans-serif;
  --font-body: 'Kedebideri', sans-serif;
  --font-ital: 'Shadows Into Light', cursive;
  /* --- The Canvas (Backgrounds) --- */
  /* That rich dark charcoal from the card background */
  --bg-dark: #1a1a1a;
  /* Slightly lighter for cards/sections */
  --bg-panel: rgba(38, 38, 38, 0.5);

  /* --- The 'Gold' (Accents) --- */
  /* The Terracotta/Clay from the headwrap - USE FOR BUTTONS */
  --accent-primary: #ed672e;
  /* A lighter version for hover states */
  --accent-hover: #ed672e;

  /* --- The Culture (Secondary) --- */
  /* The deep mahogany/wood red from the borders */
  --wood-red: #5e1e1e;
  /* The skin tone bronze for subtle details */
  --highlight: rgb(237, 185, 80);
  --text-main: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
    
}


a {
  color: #111;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
